.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-smallest) {
    padding: 0;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-medium) {
    min-height: 720px;
  }

  @media only screen and (max-width: $bp-small) {
    min-height: 690px;
  }

  @media only screen and (max-width: $bp-smaller) {
    min-height: 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 0;
  }
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 0;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;

      & span {
        @media only screen and (max-width: $bp-smaller) {
          display: none;
        }
        @media only screen and (max-width: $bp-smallest) {
          display: block;
        }
      }
    }
    &--next {
      float: right;

      & span {
        @media only screen and (max-width: $bp-smaller) {
          display: none;
        }
        @media only screen and (max-width: $bp-smallest) {
          display: block;
        }
      }
    }
  }

  &__index {
    text-align: center;
    clear: both;
    font-size: 1.2rem;
    padding-top: 1.5rem !important;
    color: $color-grey-dark-2;
  }
}

.copyright {
  color: $color-grey-dark-1;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin: 4rem auto 0;
  text-align: center;
  max-width: 270px;

  @media only screen and (max-width: $bp-medium) {
    margin-top: auto;
  }

  @media only screen and (max-width: $bp-smaller) {
    padding-top: 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }

  &--mobile {
    grid-area: copyright;
    display: none;

    @media only screen and (max-width: $bp-smallest) {
      padding: 2rem;
      max-width: 100%;
      background-color: $color-grey-light-2;
      display: block;
      margin: 0;
    }
  }
}

.search-results.active {
  @media only screen and (max-width: $bp-smallest) {
    padding: 3rem 0;
  }

  & .pagination {
    @media only screen and (max-width: $bp-smallest) {
      margin-top: 3rem;
    }
  }
}
